/* Main styles
*******************************/
* {
	margin: 0;
}
html {
	margin-top: 0!important;
	box-sizing: border-box;
}

body {
	width: 100%;
}


/* Header
*******************************/

/* Home
*******************************/

/* Pages
*******************************/

/* Blog
*******************************/

/* Footer
*******************************/

/* Contacts
*******************************/

/* Block styles
*******************************/
